<div class="modal-content popup_width">
  <div class="modal-header popup_size">
    <h5 class="modal-title">{{modelTitle}} Vehicle</h5>
    <button type="button" class="close close_removeoutline" aria-label="Close" (click)="activeModal.close('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit();" novalidate>
  <div class="row popup_size">
    <div class="col-12">
      <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label class="label_text" for="exampleInputEmail1">Enter Vehicle Number</label>
        <input type="text" class="form-control form_select" aria-describedby="emailHelp" placeholder="TS09EQ5636" 
        name="rcNumber" [(ngModel)]="formVehicle.rcNumber" #rcNumber="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && rcNumber.invalid }" required />
      </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="label_text" for="exampleFormControlSelect1">Vehicle Type</label>
            <input type="text" class="form-control form_select" aria-describedby="emailHelp" placeholder="Vehicle Type"
             name="vehicleName" [(ngModel)]="formVehicle.vehicleName" #vehicleName="ngModel"
             [ngClass]="{ 'is-invalid': f.submitted && vehicleName.invalid }" required>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
        <div class="form-group">
            <label class="label_text" for="exampleInputEmail1">Owner Name</label>
            <input type="text" class="form-control form_select" aria-describedby="emailHelp" placeholder="Owner Name"
            name="ownerName" [(ngModel)]="formVehicle.ownerName" #ownerName="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && ownerName.invalid }" required />
          </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="label_text" for="exampleInputEmail1">Registered Mobile No</label>
            <input type="text" class="form-control form_select" aria-describedby="emailHelp" placeholder="9999999999"
            name="ownerContactNumber" [(ngModel)]="formVehicle.ownerContactNumber" #ownerContactNumber="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && ownerContactNumber.invalid }" required>
          </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
        <div class="form-group">
            <label class="label_text" for="exampleInputEmail1">Registration Date</label>
            <div class="input-group" style="display: inherit">
            <div class="input-group-append">
              <input class="form-control form_select" placeholder="yyyy-mm-dd"
              name="registrationDate" [(ngModel)]="formVehicle.registrationDateModel" #registrationDate="ngModel" 
              [minDate] = "minDate" [maxDate]="maxDate" ngbDatepicker #d="ngbDatepicker" 
              [ngClass]="{ 'is-invalid': f.submitted && rcNumber.invalid }" required/>
                <button style="outline:none" class="date_btn_style calendar" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="label_text" for="exampleFormControlSelect1">RC Expiry Date</label>
            <div class="input-group" style="display: inherit">
            <div class="input-group-append">
              <input class="form-control form_select" placeholder="yyyy-mm-dd" 
              name="rcExpiryDate" [(ngModel)]="formVehicle.rcExpiryDateModel" #rcExpiryDate="ngModel"
              [minDate]="registrationDate" ngbDatepicker #d1="ngbDatepicker" 
              [ngClass]="{ 'is-invalid': f.submitted && rcNumber.invalid }" required/>
                <button style="outline:none" class="date_btn_style calendar" (click)="d1.toggle()" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
    </div>
  </div>
      <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="label_text" for="exampleFormControlSelect1">State</label>
                <select class="form-control form_select" name="stateId" [(ngModel)]="formVehicle.stateId" #stateId="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && stateId.invalid }" required (change)="onStateChange(stateId.value)">
                <option [ngValue]="-1">Select State</option>    
                <option *ngFor="let state of stateArray" value="{{state.id}}">{{state.name}}</option>
                </select>
              </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="label_text" for="exampleFormControlSelect1">District</label>
                <select class="form-control form_select" 
                name="districtId" [(ngModel)]="formVehicle.districtId" #districtId="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && districtId.invalid }" required (change)="onDistrictChange(districtId.value)">
                <option [ngValue]="-1">Select District</option>    
                <option *ngFor="let district of districtArray" value="{{district.id}}">{{district.name}}</option>
                </select>
              </div>
        </div>
      </div>
     
      <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="label_text" for="exampleFormControlSelect1">City</label>
                <select class="form-control form_select" name="cityId" [(ngModel)]="formVehicle.cityId" #cityId="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && cityId.invalid }" required>
                <option [ngValue]="-1">Select City</option>  
                <option *ngFor="let city of cityArray" value="{{city.id}}">{{city.name}}</option>
                </select>
              </div>
        </div>
        <div class="col-6"></div>
      </div>
        <div class="row m-0 p-0">
            <button class="btn btn-primary btn_save">SAVE</button>
        </div>
  </div>
  </div>
  </form>
</div>
