<div class="modal-content popup_width">
  <div class="modal-header popup_size">
    <h5 class="modal-title">Driver Details</h5>
    <button type="button" class="close close_removeoutline" aria-label="Close" (click)="activeModal.close('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row popup_size">
      <div class="col-3">
        <img class="" src="assets/images/SVG/ic_driver_profile.svg">
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-5">
            <h6>Name</h6>
          </div>
          <div class="col-1"><h6>:</h6></div>
          <div class="col-6"><h6>Ashok Moddukuri</h6></div>
        </div>
        <div class="row">
          <div class="col-5">
            <h6>Mobile No</h6>
          </div>
          <div class="col-1"><h6>:</h6></div>
          <div class="col-6"><h6>+91 9642 9492 01</h6></div>
        </div>
        <div class="row">
          <div class="col-5">
            <h6>Driving Licence</h6>
          </div>
          <div class="col-1"><h6>:</h6></div>
          <div class="col-6"><h6>AP07 3859 1234</h6></div>
        </div>
        <div class="row">
          <div class="col-5">
            <h6>Gender</h6>
          </div>
          <div class="col-1"><h6>:</h6></div>
          <div class="col-6"><h6>Male</h6></div>
        </div>
        <div class="row">
          <div class="col-5">
            <h6>Date of birth</h6>
          </div>
          <div class="col-1"><h6>:</h6></div>
          <div class="col-6"><h6>20/06/1990</h6></div>
        </div>
      </div>
    </div>
  </div>
  </div>