<div class="row row_shadow">
  <div class="container">
    <div class="topnav">
      <div class="row m-0 p-0">
        <div class="col-10 m-0 p-0">
          <a class="active icon_alignment text_align"><img class="img_topnav" src="assets/images/SVG/ic_tripdetails_blue.svg" style="width:23px !important;"><span>TRIP DETAILS</span></a>
        </div>
        <div class="col-2">
               <div class="btn-group btn_left">
               	<button type="button" class="out_line_blue btn btn btn-outline-primary" [ngClass]="{'active': isTripClosed === false}" (click)="changeTrip(false);">Open</button>
                <button type="button" class="out_line_blue2 btn btn btn-outline-primary" [ngClass]="{'active': isTripClosed === true}" (click)="changeTrip(true);">Closed</button>
               </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container container_height">
   <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/rta/livetracking']" routerLinkActive="active">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a>Trip Management</a></li>
           <li class="breadcrumb-item" aria-current="page">Trip Details</li>
        </ol>
      </nav>

      <div class="row page-filters">
          <div class="col-md-3 p-t-6">
            <span>Total Records: <b>{{page.totalElements}}</b></span>
          </div>
          <div class="col-md-9 text-right">
            <button type="button" class="btn btn-bare" (click)="refreshPage()"><i class="fa fa-refresh" aria-hidden="true"></i>
              Refresh</button>
            <button type="button" class="btn btn-bare" (click)="btnShowFilters()"><i class="fa fa-filter" aria-hidden="true"></i>
              Filters</button>
          </div>
        </div>
        <div class="slide-filters" [ngClass]="{'show': showFilters == true}">
            <div class="row slide-filters-content">
                <div class="col-md-3">
                    <div class="form-group">
                      <input type="text" class="filter_style form-control" aria-describedby="emailHelp"
                      placeholder="Vehicle No / Serial No / Mobile No" [(ngModel)]="searchValue" (keyup)="searchData();">
                      <button type="button" class="btn_close close"aria-label="Close">
                      <span aria-hidden="true" (click)="clearSearch();" *ngIf="showSearchClear">&times;</span>
                    </button>
                    </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                        <select class="filter_style form-control" [(ngModel)]="districtModel" name="stateId" (change)="getCities(districtModel)">
                          <option value="" [selected]="!districtModel">Select District</option>
                          <option *ngFor="let district of districtArray" [ngValue]="district.id">{{district.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                          <select class="filter_style form-control" [(ngModel)]="cityModel" name="cityId">
                            <option value="" [selected]="!cityModel">Select City</option>
                            <option *ngFor="let city of cityArray" value="{{city.id}}">{{city.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                          <div class="input-group-append">
                            <input type="text" class="filter_style form-control" readOnly placeholder="yyyy-mm-dd" name="dp" 
                            [(ngModel)]="model" (dateSelect)="changeDate();" [maxDate]="maxDate" ngbDatepicker #d="ngbDatepicker">
                              <button style="outline:none" class="date_btn_style calendar" (click)="d.toggle()" type="button"> <i class="fa fa-calendar" aria-hidden="true"></i></button>
                            </div>
                          </div>
                        </div>
            </div>
          </div>
    
          
    <table class="table table-borderless table_today_installed">
      <thead class="thead-bg column_size">
        <tr>
          <th style="width:8%;">Trip ID</th>
          <th style="width:10%;">Citizen Mobile No</th>
          <th style="width:10%;">Vehicle Number</th>
          <th style="width:10%;">Serial Number</th>
          <th>Request ID</th>
          <th style="width:10%;">Start Time</th>
          <th style="width:10%;">End Time</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="hoverTable align-middle no-border-x table_alignment img_auto row_bg">
        <tr *ngFor="let tripDetails of tripDetailsArray | paginate: { id: 'tripDetailsList', itemsPerPage: page.size, currentPage: p, totalItems: page.totalElements }">
          <td class="align-middle">{{tripDetails.tripId}}</td>
          <td class="align-middle">{{tripDetails.citizenMobileNumber}}</td>
          <td class="align-middle">{{tripDetails.rcNumber}}</td>
          <td class="align-middle">{{tripDetails.serialNumber}}</td>
          <td class="align-middle">{{tripDetails.requestId}}</td>
          <td class="align-middle">{{tripDetails.requestTime}}</td>
          <td class="align-middle">{{tripDetails.closeTime}}</td>
          <td class="align-middle">{{tripDetails.sourceLocation}}</td>
          <td class="align-middle">{{tripDetails.destiLocation}}</td>
          <td>
            <div class='actions-menu dropdown-click'>
              <button>
                  <i class="fa fa-list-ul" aria-hidden="true"></i>
              </button>
              <ul>
                <li>
                  <a title="Edit Vehicle Details" class="icon" (click)="navigateToTrip(tripDetails)">
                    <i class="fa fa-eye" aria-hidden="true"></i><span>Trip Details</span>
                  </a>
                </li>
                <li>
                  <a title="Download QR Code" class="icon" (click)="viewRouteDeviation(tripDetails);">
                    <i class="fa fa-eye" aria-hidden="true"></i> <span>Route Deviation</span>
                  </a>
                </li>
                <li>
                  <a title="Panic Details" class="icon" (click)="openPanicAlerts(tripDetails);">
                    <img class="icon-small" src="assets/images/SVG/ic_panicalert_blue.svg"> <span>Panic Details</span>
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
         <tr *ngIf="tripDetailsArray == null || tripDetailsArray.length == 0">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <span style="color:red;">No Data Found</span>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div style="margin:0px auto;">
        <pagination-controls id="tripDetailsList" class="pagination" (pageChange)="pageChanged($event)" maxSize="6"
          directionLinks="true" autoHide="true" responsive="true" previousLabel="Prev" nextLabel="Next">
        </pagination-controls>
      </div>
    </div>
</div>