/* .dropdown-toggle:after{
    display: none;;
}
.main-navbar{
    position: relative;
    margin: 0;
    padding: 15px 0px 0px 0px;
    list-style: none;
    height: 34px;
}
 
.dropdown-menu{
    top:56px;
    margin-top:0px!important;
    background-color:#6742c0;
    width:230px;
}
.dropdown-menu li a{
    display: block;
    padding:12px 16px 12px 16px;
    color:#ffffff47;
}
.dropdown-menu li a:hover{
    color:#ffffff;
    text-decoration: none;
}
.dropdown-menu li a img{
    height:20px;
    padding-right:10px;
}
.dropdown-submenu {
    position: relative;
    margin-top:0px;
}
 
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 0px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    background-color:#6742c0;
    position: absolute;
    border-left:1px solid #ffffff!important;
}
 
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
 
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -5px;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color: none;
}
 
.dropdown-submenu.pull-left {
    float: none;
}
 
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.profilemenu{
    color:#ffffff;
}
.profilemenu img.avatar{
    width:40px;
    height:40px;
    border-radius:100px;
}
.profilename{
    padding-left:5px;
    padding-top:4px;
    font-family: "century gothic";
    font-size: 15px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px dashed;
    border-top: 6px solid #ffffff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.navbar-fixed{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:999;
}
.profile.dropdown-menu{
    width:177px !important;
} */